html, body {
    height: 100%;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subject-container {
    border: 5px solid black;
    display: flex;
    flex-direction: column;      
    padding: 10px;
    gap: clamp(8px, 10vw, 30px);

    min-width: 60vw;
}

.subject-item {
    background-color: aquamarine;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-height: 25px;
    min-height: 1px;

    padding: 20px; 
}

.subject-item p {
    font: 1em sans-serif;
    word-break: break-word;
}