html, body {
    height: 100%;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subject-container {
    display: flex;
    flex-direction: column;      
    padding: 10px;
    gap: clamp(8px, 20vw, 40px);

    min-width: 60vw;
    height: 80%;
}

.subject-item {
    background-color: aquamarine;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-height: 5vw;
    min-height: 1px;

    padding: 20px; 
}

.subject-item:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.subject-item:active {
    background-color: green;
}

.subject-item p, subject-item p:link, subject-item p:visited {
    font: 1em sans-serif;
    word-break: break-word;
    color: black;
    text-decoration: none;
}